# Numeric part

In [1]:
import math # built in library

# pow = ** - built-in function
# min, max

# int
# float

a = 100_000_000
b = 1.4e10
print(b)
print(type(b))

14000000000.0
<class 'float'>

In [2]:
print(math.sqrt(9))

3.0

In [3]:

# complex

c = 5 + 4j
print(c.real)
print(c.imag)
print(a.real)
print(a.imag)

5.0
4.0
100000000
0

# Comments

In [4]:
# Single-line comment (#)
# This variable stores the age
age = 25

In [5]:
#  Inline function comment
def greet(name):  # Function to greet the user
    print(f"Hello, {name}!")

In [6]:
# Multi-line comment (using ''' or """)
'''
This is the main part of the program.
It adds two numbers entered by the user.
'''
a = int(input("First number: "))
b = int(input("Second number: "))
print(a + b)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Docstring (for functions or classes)
def add(x, y):
    """
    Adds two numbers together
    
    Arguments:
    x (int): First number
    y (int): Second number
    
    Returns:
    int: Sum of the two numbers
    """
    return x + y

In [ ]:
# Comment for TODO marker
# TODO: Need to validate user input
user_input = input("Enter your name: ")
print(f"Welcome, {user_input}")

Welcome, Jack

In [ ]:
# Comment inside a conditional block
if age >= 18:
    # If user is an adult, allow access
    print("Access granted")
else:
    # Otherwise, deny access
    print("Access denied")

Access granted

# String part

In [ ]:
# ' - single quote
# " - double quote
# " - double quote
# """ - triple quote
# \ - back slash
# / - forward slash
# \n - newline character

In [ ]:
hello = """Hello
MAAB Academy
"""
print(hello)

Hello
MAAB Academy

In [ ]:
halo = """Hello

                MAAB Academy"""
print(halo)

Hello

                MAAB Academy

In [ ]:
hi = 'Hello MAAB \nAcademy'
hi

'Hello MAAB \nAcademy'

In [ ]:
hi = 'Hello MAAB \nAcademy'
print(hi)

Hello MAAB
Academy

In [ ]:
word = "I'm chemist"
word

"I'm chemist"

In [ ]:
print(word)

I'm chemist

In [ ]:
# Error
spaces = 'G'dansk'

SyntaxError: unterminated string literal (detected at line 2) (1766468161.py, line 2)

In [ ]:
words = 'I\'m a teacher'
words

"I'm a teacher"

In [ ]:
print(words)

I'm a teacher

In [ ]:
# \t -> tab -);
happy = 'Nawruz \t bayrami'
happy

'Nawruz \t bayrami'

In [ ]:
print(happy)

Nawruz 	 bayrami

In [ ]:
my_friends = 'Mateush \\ Mariush \\ Gjegoj'
my_friends

'Mateush \\ Mariush \\ Gjegoj'

In [ ]:
print(my_friends)

Mateush \ Mariush \ Gjegoj

In [ ]:
directory = "D:\Python DB\PythonHomeWorks\bLesson 1"
directory

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
G:\TEMP\Temp\ipykernel_4436\2344942926.py:1: SyntaxWarning: invalid escape sequence '\P'
  directory = "D:\Python DB\PythonHomeWorks\bLesson 1"

'D:\\Python DB\\PythonHomeWorks\x08Lesson 1'

In [ ]:
print(directory)

D:\Python DB\PythonHomeWorkLesson 1

In [ ]:
directory1 = "D:\\Python DB\\PythonHomeWorks\\bLesson 1"
directory1

'D:\\Python DB\\PythonHomeWorks\\bLesson 1'

In [ ]:
print(directory1)

D:\Python DB\PythonHomeWorks\bLesson 1

In [ ]:
directory2 = r"D:\\Python DB\\PythonHomeWorks\\bLesson 1"
directory2

'D:\\\\Python DB\\\\PythonHomeWorks\\\\bLesson 1'

In [ ]:
print(directory2)

D:\\Python DB\\PythonHomeWorks\\bLesson 1

In [ ]:
print(type(directory1))
print(type(directory2))

<class 'str'>
<class 'str'>

# String Simple app

In [ ]:
name = input('What is your name?: ')
age = int(input('Age: '))

print(f'Your name is:  {name},  and your are {age} yers old')

Your name is:  Shermukhammad,  and your are 37 yers old

In [ ]:
name = input('What is your name?: ')
age = int(input('Age: '))

print('Your name is: ' + name +  'and your are ' + str(age) + ' yers old')

Your name is: Shermukhammadand your are 37 yers old

In [ ]:
name = input('What is your name?: ')
age = int(input('Age: '))

print('Your name is:   {name}   and your are   {age}   yers old')

Your name is:   {name}   and your are   {age}   yers old

In [ ]:
name = input('What is your name?: ')
age = int(input('Age: '))

print('Your name is:   {name}   and your are   {age}   yers old'.format(name=name, age=age))

Your name is:   Shermukhammad   and your are   37   yers old

In [ ]:
name = input('What is your name?: ')
age = int(input('Age: '))

print('Your name is:   {}   and your are   {}   yers old'.format(name, age))

Your name is:   Shermukhammad   and your are   37   yers old

In [ ]:
n = 24.87656564
print(f'{n}')

24.87656564

In [ ]:
n = 24.87656564
print(f'{n=}')

n=24.87656564

In [ ]:
n = 24.87656564
print(f'{n:.2f}')

24.88

In [ ]:
n = 24.87656564
print(f'{n:.4f}')

24.8766

In [ ]:
# concatination for strings
name1 = 'Djoana Gemonotta'
name2 = 'Lady Gaga'

print(f'First name: {name1} and  Second name: {name2}' )

First name: Djoana Gemonotta and  Second name: Lady Gaga

In [ ]:
name1 = 'Djoana Gemonotta'
name2 = 'Lady Gaga'

print(f'{name1:<10} - First name:')
print(f'{name2:<2} - Second name:')

Djoana Gemonotta - First name:
Lady Gaga - Second name:

In [ ]:
# find word length
print(len('Hello World'))

11

In [ ]:
# Error types

# SyntaxError
# TypeError
# ValueError
# IndexError

#  Slicing or indexing

In [ ]:
      #0123456789   
vow = 'I\'m happy '
vow

"I'm happy "

In [ ]:
len(vow)

10

In [ ]:
vow[0]

'I'

In [ ]:
# attention Error
vow[11]

IndexError: string index out of range

In [ ]:
vow[4:9]

'happy'

In [ ]:
vow[::-1]

" yppah m'I"

In [ ]:
vow[:-1]

"I'm happy"

In [ ]:
text = "Hello, World!"
print(text[7:12])    # 'World'
print(text[:5])      # 'Hello'
print(text[::2])     # 'Hlo ol!' (har ikkinchi belgi)

World
Hello
Hlo ol!

In [ ]:
print(text[0:3] + text[5:8])

Hel, W

In [14]:
#   +0  +1  +2  +3  +4  +5  +6  +7  +8  +9 +10
#    H   e   l   l   o       w   o   r   l  d
#  -11 -10  -9  -8  -7  -6  -5  -4  -3  -2 -1

s = "Hello world"

In [10]:
s[1::2]

'el ol'

In [12]:
s[::3]

'Hlwl'

In [13]:
s[::-1]

'dlrow olleH'

In [18]:
s[-5:-1]

'worl'

In [19]:
s[-5:]

'world'

In [23]:
word = input('Word: ')

print('Last character is: ' + word[-8:])

Last character is:  Aleykum

In [25]:
word = input('Word: ')

last_character = word[len(word)-1]
print(f"Last charachter is : {last_character}")
print("Last charachter is : ",  {last_character})

Last charachter is : d
Last charachter is :  {'d'}

# Mutable and Immutable(o`zgaruvchan va o`zgarmas)

In [27]:
my_str = 'Apple'
my_str = 'a' + my_str[1:]
print(my_str)

apple

In [ ]:
# Mutable 
my_list = [1, 2, 3]
print(id(my_list))  # Example: 1528539206528

my_list.append(4)
print(my_list)      # [1, 2, 3, 4]
print(id(my_list))  #ID It never changes.

1528539206528
[1, 2, 3, 4]
1528539206528

In [31]:
person = {"name": "Ali"}
person["age"] = 25
print(person)  # {'name': 'Ali', 'age': 25}
print(id(person))

{'name': 'Ali', 'age': 25}
1528539225664

In [36]:
# Immutable in str
s = "hello"
print(id(s))  # Examole: 1403687549968

s += " world"  # s = s + " world"
print(s)       # 'hello world'
print(id(s))   # ID changes!

# "Note: The operation s += " world" created a new string, and the old one was discarded. 
# The memory address changed. This is what 'immutable' means."

1528527929184
hello world
1528539402992

In [ ]:
t = (1, 2, 3)
t
# t[0] = 10  # Xato: TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [41]:
t = (1, 2, 3)
t
# t[0] = 10  # Xato: TypeError: 'tuple' object does not support item assignment

(1, 2, 3)

# str methods

In [58]:
fruit = 'apple banana'
fruit.lower()

'apple banana'

In [61]:
fruit = 'apple banana'
fruit.capitalize()

'Apple banana'

In [62]:
fruit = 'apple banana'
fruit.upper()

'APPLE BANANA'

In [63]:
fruit = 'apple banana'
fruit.title()

'Apple Banana'

In [67]:
print(fruit.endswith('a')) #banan(a)<-

True